*:focus {
  outline: none;
  box-shadow: 0 0 0 0.35rem $primary-opacity-25;
}

.btn {
  &-primary {
    background-color: $primary-color;
    color: $white;
  }

  &-round {
    border-radius: 10rem;
  }

  &-registration {
    font-size: 1.8rem;
    background-color: $grey2-900;
    padding: 0.8rem 3.2rem;
    color: $white;
    &:hover {
      background-color: $grey2-800;
      color: $white;
    }
  }
}

.error-msg {
  font-size: 1.4rem;
  color: #e03131;
}
