$white: #fff;
$black: #000;

$black-tint-1: #111;
$black-tint-2: #222;
$black-tint-3: #333;
$black-tint-4: #444;
$black-tint-5: #555;
$black-tint-6: #666;

$primary-color: #0f9200;

$primary-tint-1: #279d1a;
$primary-tint-2: #3fa833;
$primary-tint-3: #57b34d;
$primary-tint-4: #6fbe66;
$primary-tint-5: #87c980;
$primary-tint-6: #9fd399;
$primary-tint-7: #b7deb3;
$primary-tint-8: #cfe9cc;
$primary-tint-9: #e7f4e6;
$primary-tint-10: #eef7ee;

$primary-shade-1: #0e8300;
$primary-shade-2: #0c7500;
$primary-shade-3: #0b6600;
$primary-shade-4: #095800;
$primary-shade-5: #084900;
$primary-shade-6: #063a00;
$primary-shade-7: #042c00;
$primary-shade-8: #031d00;
$primary-shade-9: #010f00;

$primary-opacity-25: rgba(15, 146, 0, 0.25);
$primary-opacity-50: rgba(15, 146, 0, 0.5);
$primary-opacity-75: rgba(15, 146, 0, 0.75);

$grey1-50: #fdfefe;
$grey1-100: #fafcfb;
$grey1-200: #f7faf9;
$grey1-300: #f4f8f7;
$grey1-400: #f1f6f5;
$grey1-500: #eef4f3;
$grey1-600: #d9dedd;
$grey1-700: #a9adad;
$grey1-800: #838686;
$grey1-900: #646666;

$grey2-50: #f5f6f6;
$grey2-100: #dfe4e3;
$grey2-200: #d0d7d6;
$grey2-300: #bbc4c3;
$grey2-400: #adb9b7;
$grey2-500: #99a7a5;
$grey2-600: #99a7a5;
$grey2-700: #6d7775;
$grey2-800: #545c5b;
$grey2-900: #404645;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-mid-bold: 600;
$font-weight-bolder: 700;

$google-color: #4285f4;
