.proposal-section {
  border-bottom: 0.1rem solid $grey1-600;

  .applicant-info {
    border-right: 0.1rem solid $grey1-600;
    &-para {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }

  .applicant-proposal {
    h2 {
      font-size: 2.8rem;
    }

    .proposed-bid {
      strong {
        font-weight: $font-weight-bold;
        font-size: 2rem;
      }

      span {
        font-size: 1.4rem;
      }
    }

    h4 {
      font-size: 1.8rem;
    }

    .proposal-text {
      font-size: 1.4rem;
      line-height: 1.6;
    }

    .btn-message {
      font-size: 1.8rem;
    }

    .attachment {
      font-size: 1.4rem;
      color: $primary-color;
    }
  }
}
