.login-form {
  width: 40%;
  border: 0.1rem solid $grey2-100;
  border-radius: 1rem;
}

.btn-apple {
  background-color: $white;
  color: $black-tint-3;
  font-size: 1.6rem;
  border: 0.1rem solid $grey1-600;
}

.btn-google {
  background-color: $google-color;
  color: $white;
  font-size: 1.6rem;
}
