.section-main {
  padding: 1.2rem 4.8rem;
  margin-bottom: 4.8rem;

  .filter-section {
    width: 20%;
    border: 2px solid $grey1-600;
    height: auto;
    padding: 1.2rem;
  }
  .search-section {
    width: 75%;
    border: 0.5px solid $grey2-600;
    border-radius: 0.5rem;
    padding: 1.2rem;

    .search-box {
      font-size: 1.4rem;
      border: 0.1rem solid $grey2-600;
      border-radius: 10rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .search-icon {
      font-size: 2rem;
      color: $white;
      background-color: $primary-color;
      border-radius: 1rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .search-results {
      gap: 1.6rem;
      .search-result {
        margin-top: 2rem;
        padding: 1.2rem 2.4rem;
        border-radius: 1rem;
        background-color: $grey1-200;
        box-shadow: 0 2px 1rem rgba($black, 0.2);

        .search-title {
          .search-link {
            text-decoration: none;
            font-size: 2rem;
            font-weight: $font-weight-bold;
            transition: all 0.35s;

            &:hover {
              color: $primary-color;
            }
          }
          .heart-icon {
            font-size: 3.6rem;
            font-weight: $font-weight-bold;
            padding: 0.5rem;
            border-radius: 50%;
            border: 0.1rem solid $grey2-600;
            cursor: pointer;
          }
        }
        .search-subtitle {
          font-size: 1.4rem;
          gap: 3rem;
          margin-bottom: 2rem;
        }
        .search-description {
          font-size: 1.6rem;
          line-height: 1.6;
          margin-bottom: 2rem;
        }
        .search-skills {
          gap: 2rem;

          & span {
            background-color: $grey2-200;
            padding: 1.2rem 2.4rem;
            border-radius: 10rem;
            font-size: 1.4rem;
            color: $black-tint-2;
          }
        }
      }
    }
  }
}

.search-personal__details {
  gap: 1.6rem;
  .profile-image {
    @include size(10rem);
  }

  .personal__details {
    gap: 0.4rem;
    font-size: 1.4rem;

    .name {
      font-size: 1.6rem;
      font-weight: $font-weight-bold;
      color: $primary-color;
    }

    .job-title {
      font-weight: $font-weight-bold;
    }

    .country {
      color: $grey2-800;
    }
  }
}
