.section-experience {
  width: 100rem;
  border: 0.5px solid #ddd;
  margin: 10rem auto;
}
.main-heading-experience {
  padding: 2.4rem 1.8rem;
}
.experience-form-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.experience-form {
  margin-bottom: 2rem;
}
