.footer-container {
  border-top: 0.1rem solid $primary-tint-8;
}

.footer {
  .footer_links-container {
    h3 {
      font-size: 2rem;
    }
    .footer_links {
      & li:not(:last-child) {
        margin-bottom: 2rem;
      }
      & li a {
        font-size: 1.6rem;
        text-decoration: none;
      }
    }
    .footer_about {
      margin-left: 1.6rem;
    }
    .footer_support {
      margin-left: 1.8rem;
    }
  }
}
.footer_text {
  font-size: 1.4rem;
}
