.spinner-container {
  width: 50%;

  padding: 2.4rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 5.2rem;
  height: 5.2rem;

  border-radius: 50%;

  animation: rotate 0.75s linear infinite;

  border: 0.5rem solid $primary-color;
  border-color: $primary-color transparent $primary-color transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} ;
