.loader {
  @include size(2.4rem);

  border-radius: 50%;

  animation: rotate 0.75s linear infinite;

  border: 0.3rem solid $white;
  border-color: $white transparent $white $white;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} ;
